<article class="card" style="width: 18rem;">
    <div class="card-body">
        <h3 class="card-title text-center">
            {{name}}
        </h3>
        <p class="card-description">{{description}}</p>
    </div>
</article>